.intro__inner {
    padding: 80px 0;
}

.intro__inner>.img {
    width: 400px;
    height: 200px;
    margin: 0 auto;
    background: url(../img/intro1.jpg) center / cover;
    border-radius: 100px;
    margin-bottom: 2rem;
}

.intro__inner.blog>.img {
    width: 300px;
    height: 150px;
}

.intro__inner.join>.img {
    width: 200px;
    height: 200px;
}

.intro__inner>h2 {
    text-align: center;
    font-size: 1.75rem;
    font-family: var(--fontG);
    margin-bottom: 1rem;
    color: var(--black);
}

.intro__inner>p {
    text-align: center;
    font-size: 1.4rem;
    word-break: keep-all;
    font-weight: 300;
    color: var(--black);
}

.intro__inner>p em {
    color: var(--pointColor);
}

.intro__inner .write {
    position: absolute;
    bottom: 16px;
    left: 0;
    border: 1px solid var(--black500);
    color: var(--black500);
    border-radius: 40px;
    font-size: 13px;
    padding: 1px 10px;
}

.intro__inner .write:hover {
    background-color: var(--black);
    color: var(--white);
}

@media (max-width: 600px) {
    .intro__inner {
        padding: 60px 0;
    }

    .intro__inner>p br {
        display: none;
    }

    .intro__inner>.img {
        width: 60%;
        height: 140px;
    }

    .intro__inner.blog>.img {
        width: 60%;
        height: 140px;
    }

    .intro__inner.join>.img {
        width: 60%;
        height: 140px;
    }
}